
  <h3><%= locals.message %></h3>
  <% if (locals.user) {%>
      <nav>
        <h2>GigaGamers</h2>
        <div class="flex gap-1 ai-center padding-tb-1">
          <h1>WELCOME BACK <%= locals.user.username%></h1>
          <a href="/log-out">LOG OUT</a>
        </div>
      </nav>
    <% } else { %>
      <nav>
        <h2>GigaGamers</h2>
        <div class="flex gap-1 padding-tb-0">
          <a href="/log-in">Log in</a>
          <a href="/sign-up">Sign up</a>
        </div>
      </nav>
  
      <% } %>

<div class="homepage flex-column">
      <h2 class="margin-top-1">Homepage</h2>
      <% if (locals.user) { %>
        <div><a href="/create-post"><button class="padding-lr-2 blue-button">Create a new message</button></a></div>
      <% } %>
  <% for (let x = 0; x < posts.length; x++) { %>
      <a href="<%= posts[x].url%>" class="post-container flex-column padding-lr-1 padding-tb-1">
        <div class="border-bottom padding-tb-1">
          <h3><%= posts[x].title %></h3>
          <p><%= posts[x].body %></p>
        </div>
        <div>
          <% if (locals.user) { %>
            <div class="flex jc-space-between">
              <p>Username: <%= posts[x].author.username %></p>
              <p><%= posts[x].date_formatted %></p>
            </div>
          <% } else { %>
            <div class="flex jc-space-between margin-top-1">
              <p>Anonymous user</p>
              <p>Anonymous date</p>
            </div>
          <% } %>
          <% if (locals.user && locals.user.admin == true) { %>
            <form method="POST">
              <input type="hidden" name="postid" value="<%= posts[x]._id %>">
              <button>Delete</button>
          </form>
          <% } %>
        </div>
      </a>
  <% } %>
</div>
