<h2>Homepage</h2>
<h3><%= locals.message %></h3>
<% if (locals.user) {%>
    <h1>WELCOME BACK <%= locals.user.username%></h1>
    <a href="/log-out">LOG OUT</a>
    <div><a href="/create-post">Create a new message</a></div>
  <% } else { %>
    <a href="/log-in">Log in</a>
    <a href="/sign-up">Sign up</a>

    <% } %>

<% for (let x = 0; x < posts.length; x++) { %>
    <a href="<%= posts[x].url%>">
      <h3><%= posts[x].title %></h3>
      <p><%= posts[x].body %></p>
      <div>
        <% if (locals.user) { %>
          <p>Username: <%= posts[x].author.username %></p>
          <p><%= posts[x].timestamp %></p>
        <% } else { %>
          <p>Anonymous user</p>
          <p>Anonymous date</p>
        <% } %>
        <% if (locals.user && locals.user.admin == true) { %>
          <a href='<%=posts[x].url%>/delete'>Delete</a>
        <% } %>
      </div>
    </a>
<% } %>
