<h2>Post by <%= username %></h2>

<a href="/">Back</a>
<div>
    <h3><%= post.title %></h3>
    <p> <%= post.description %> </p>
    <p><%= post.date_formatted %> </p>
</div>
<% if (locals.currentUser) { %>
    <a href='<%=post.url%>/delete'>Delete</a>
<% } %>
